.text-hover {
  color: #142838;
  transition: color 0.3s ease;
}

.text-hover>span {
  -webkit-text-stroke: .5px #9EA0A4;
  color: transparent
}

.text-hover a span {
  color: #F8F8F8;
  transition: color 0.3s ease;
}

.text-hover:hover a span {
  color: #073356;
  transition: color 0.3s ease;
  -webkit-text-stroke: .5px #9EA0A4;
}

.list-home-experience li:hover {
  color: #9EA0A4;
  transition: color 0.3sease;
  border-left: 3px solid #073356;
  padding-left: 10px;
}